:root {
  --main-color: #5a5a66;
  --secondary-color: #d6e7e7;
  --tertiary-color: #80f7cf;
  --accent-color: rgb(35, 36, 36);
  --bottom-border: #feffff solid 3px;
  --main-resume-color--: rgb(31, 119, 119);
  --main-resume-bgcolor: rgb(35, 36, 36);
}
.nav-link a {
  color: var(--tertiary-color);
}
#resume-body {
  background-color: var(--main-resume-bgcolor);
  margin: 10px;
}
#resume-main {
  max-width: 1200px;
  margin: 0 auto;
  border: rgb(185, 185, 185) solid 2px;
  padding-top: 20px;
  color: #feffff;
  z-index: 999;
  background-color: var(--main-resume-bgcolor);
  font-size: 20px;
}
#main-resume-title {
  text-align: center;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}
#main-resume-title h1 {
  font-size: 72px;
  color: var(--secondary-color);
  /* font-family: anton;
  letter-spacing: 2px; */
}
#main-resume-title h2 {
  /* font-family: anton;  */
  letter-spacing: 2px;
  font-size: 44px;
  color: var(--tertiary-color);
}
#contact a {
  color: #feffff;
  text-decoration: none;
}
#contact a:hover {
  cursor: pointer;
}
/* RESUME TITLE END */
/* SUMMARY START */
#summary {
  width: 100%;
  height: auto;
}
.about-me {
  padding: 20px;
  letter-spacing: 2px;
  text-align: center;
}
.banner {
  letter-spacing: 4px;
  background-color: var(--main-resume-color--);
  color: #feffff;
  padding: 10px 0 10px 10px;
  text-align: center;
  margin: 10px 0 10px 10px;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 30px 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 30px 100%);
}
/* EXPERIENCE START */
#experience {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.job-info {
  width: 100%;
  margin: 20px 10px;
}
.job-info h4 {
  text-align: center;
  width: 100%;
}
#experience span {
  color: var(--tertiary-color);
}
/* EXPERIENCE END */
/* SKILLS START */
#skills {
  padding: 20px;
  text-align: left;
  font-size: 16px;
}
#skills h3 {
  text-align: center;
  padding: 5px 0;
}
#skills h3:hover {
  color: var(--tertiary-color);
  cursor: default;
}
/* SKILLS END */
/* EDUCATION START */
#education {
  padding: 20px;
}
.education-block {
  padding: 40px;
}
#education span {
  color: var(--tertiary-color);
}
/* EDUCATION END */
